/*清除文档类型声明中的默认属性*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
q:before, q:after { content: ''; }
body, p, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dd, dt, div, form { margin: 0px auto; }
/*字体定义*/
html, body { -webkit-text-size-adjust: none; _background-attackment: fixed; }
/*微软雅黑的字体名称要注意*/
body { font-size: 12px; font-family: "Microsoft Yahei","微软雅黑","SimSun"; color: #333; background-color: #fff; }
table { font-size: inherit; font: 100%; }
/*标题要重新定义*/
h1 { font-size: 14px; }
h2 { font-size: 14px; font-weight: normal; }
h3 { font-size: 12px; }
h4 { font-size: 12px; font-weight: normal; }
strong { font-weight: bold; }
/*链接顺序*/
a { color: #333; text-decoration: none; }
a:visited { color: #333; }
a:hover { color: #f60; }
a:active { color: #333; }
button { border: none; }
input, textarea { outline: none; }
ul, li, ol, li { list-style: none; }
.clear { clear: both; font-size: 0px; height: 0px; vertical-align: bottom; line-height: 0px; }
.clearfix:after { visibility: hidden; display: block; content: "."; clear: both; height: 0; line-height: 0; font-size: 0; }
.clearfix { display: inline-block; }
* html .clearfix { zoom: 1; }
*:first-child + html .clearfix { zoom: 1; }
.bold { font-weight: bold; }