/*清除文档类型声明中的默认属性*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content: ' ';}
body,p,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dd,dt,div,form{margin:0px auto;}
/*字体定义*/
html,body{-webkit-text-size-adjust:none;_background-attackment:fixed;}
body{font:12px/1.6 "Microsoft Yahei ", "Tahoma ", "SimSun ";color:#333;background-color:#fff;}
table{font-size:inherit;font:100%;}
/*重新定义*/
h1{font-size:14px;}
h2{font-size:14px;font-weight:normal;}
h3{font-size:12px;}
h4{font-size:12px;font-weight:normal;}
strong{font-weight:bold;}
a,a:link,a:visited{color:#333;text-decoration:none;}
a:hover{color:#f60;}
button{border:none;}
input,textarea{outline:none;}
ul,li,ol,li{list-style:none;}
.clear{clear:both;font-size:0px;}
.clearfix:after{visibility:hidden;display:block;content: ". ";clear:both;height:0;line-height:0;font-size:0;}
.clearfix{display:inline-block;}
* html .clearfix{zoom:1;}
*:first-child+html .clearfix{zoom:1;}
.bold{font-weight:bold;}
.f14{font-size:14px;}
.h20{line-height:20px;height:20px;}
.error{color:red;}
/*--------------------------------------------------------------------------------*/
ul.dropdown             { width: 1000px; height: 36px; line-height:36px; position:relative; z-index:597; float:left; background: url(imgs/blanknew.gif) right top repeat-x;}

ul.dropdown li          { width: 120px; height:30px; text-align:center; float:left; line-height:30; vertical-align:middle; zoom:1;}/*top com*/
ul.dropdown a:hover     { background: #3a93d2; color: #fff;}

ul.dropdown li a.dir span      { float: left; display: block; width:120px; height: 30px; line-height: 30px; color:#fff; font-size:15px; font-weight: bold; text-align: center; background: url(imgs/blanka.gif) no-repeat right top;}/*top*/

ul.dropdown li a.dir:hover span{ background: url(imgs/blank_overa.gif) no-repeat right top; }/*top*/

/*
ul.dropdown li:hover >*.dir    {position:relative; z-index:600; display: block; height: 36px; line-height: 27px; color: #fff; text-decoration: none; font-size: 13px; font-weight: bold; cursor: pointer; background: url(imgs/blank.gif); float:left; }
*/
ul.dropdown li:hover >*.dir    {position:relative; z-index:600; display: block; float:left; height: 20px; line-height: 20px; font-size: 13px; font-weight: bold; cursor: pointer; background: url(imgs/blank.gif); }/* sec.. */

ul.dropdown li a.dir           { display: block; height: 20px; line-height: 20px; text-decoration: none; font-size:13px; cursor: pointer; text-align:left;  text-decoration:none;}/* sec.. */
ul.dropdown>li>a.dir           { display: block; height: 30px; line-height: 30px; color: #fff; text-decoration: none; font-size: 13px; cursor: pointer; background: url(imgs/blank.gif); text-align:center; }

ul.dropdown li a.dir:hover     { background: #3a93d2; color: #fff;  }
/**/
ul.dropdown>li>a.dir:hover     { background: url(imgs/blank_over.gif) no-repeat; color: #fff;}

/* -- level mark -- */
ul.dropdown ul      { width:120px; padding:4px; position:absolute; top:100%; left:0; z-index:598; border: 1px solid #3a93d2; white-space: nowrap; visibility:hidden; background:#fff;}
ul.dropdown li:hover >ul{ visibility:visible;}
ul.dropdown ul li   { float:none; text-align: left; height:20px; line-height: 20px;}
ul.dropdown ul a    { padding:1px 4px 1px 4px; margin: 1px; display: block; font-size: 13px; width: 110px; height: 20px; line-height: 20px;  color: #000; }

ul.dropdown ul li:hover >*.dir  {position:static; z-index:0; float:none; margin:1px; border:none; padding:1px 4px 1px 4px; background:#3a93d2; font-weight: normal; color:#fff;}


ul.dropdown li.hover *.open                 {position:relative; z-index:600; float:left; zoom:none; color:#fff;}
ul.dropdown ul li.hover *.open              {position:static; z-index:0; float:none; padding:1px 4px 1px 4px; margin:1px; border:none; color: #fff; background:#3a93d2; font-weight: normal;}
ul.dropdown li.hover,ul.dropdown li:hover   {position:relative; z-index:599; cursor:default;}
/**/
ul.dropdown ul ul       { top:0px; left:95%;}
